[submodule "themes/mytheme"]
	path = themes/mytheme
	url = https://github.com/harendra21/beautifulhugo.git
[submodule "themes/hugo-shortcode-roneo-collection"]
	path = themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git
